.loader {
    position: fixed;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display-block 0s 3s 1 forwards;
        div{
        background: $linear-gradient;
        border-radius: 5px;
        height: 60px;
        width: 30px;
        margin: 0 5px;
        animation-name: loader;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &_rect-2{
        animation-delay: 0.15s;
    }
    &_rect-3{
        animation-delay: 0.3s;
    }
}